﻿@using BllPart.DTO;
@{ 
    UserDTO user = (UserDTO)Session["User"];
    string csslink = (string)ViewBag.CssLink;
}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @if (csslink != null)
    {
        <link href="@csslink" type="text/css" rel="stylesheet" />
    }
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="wrap-content">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Настольные игры", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Главняа страница", "Index", "Home")</li>
                    </ul>
                    @if (user == null)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/Account/Login"> Войти </a>
                            </li>
                            <li>
                                <a href="/Account/Register"> Зарегиcтрироваться </a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#"> Профиль </a>
                            </li>
                            <li>
                                <a href="#"> Выйти </a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </div>
        <div class="container body-content main">
            @RenderBody()
            
        </div>
    </div>

    <footer class="footer text-center">
        <hr />
        <p> Приложение "Настольные игры" </p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
