﻿@model WebPart.Models.Account.LoginViewModel

@{
    ViewBag.Title = "Login";
    ViewBag.CssLink = "/Content/Account/Login.css";
}

<h2 class="text-center">Авторизируйтесь на сайте</h2>

<form method="post" class="col-lg-offset-3 col-lg-6">

    @Html.AntiForgeryToken()

    <div class="fom-group row">
        <label for="login" class="control-label col-lg-offset-2 col-lg-2 text-right login-label">
            Логин
        </label>
        <input type="text" class="form-control col-lg-4 login-box" name="Login" required>
    </div>

    <div class="form-group row  margin-top-20">
        <label for="Password" class="control-label col-lg-offset-2 col-lg-2 text-right login-label">
            Пароль
        </label>
        <input type="password" class="form-control col-lg-4 login-box" name="Password" />
    </div>

    @if (ViewBag.Error != null)
    {
        <div class="error">
            @ViewBag.Error
        </div>
    }

    <div class="form-group row">
        <div class="col-lg-offset-5 col-lg-2">
            <input type="submit" class="btn btn-success margin-top-5" value="Войти" />
        </div>
        <div class="col-lg-offset-2 col-lg-3">
            <a href="/Account/Register" class="btn btn-default reg-btn">
                Создать аккаунт
            </a>
        </div>
    </div>

</form>

<div class="clearfix"></div>