﻿@model WebPart.Models.Account.RegisterViewModel

@{
    ViewBag.Title = "Register";
    ViewBag.CssLink = "/Content/Account/Login.css";
}
<h2 class="text-center">Создать аккаунт</h2>

<form method="post" class="col-lg-offset-3 col-lg-6" enctype="multipart/form-data">

    @Html.AntiForgeryToken()

    <div class="fom-group row">
        <label for="Email" class="control-label col-lg-offset-1 col-lg-4 text-right login-label">
            Электронный адрес
        </label>
        <input type="email" class="form-control col-lg-4 login-box" name="Email" required>
    </div>

    <div class="fom-group row margin-top-20">
        <label for="Login" class="control-label col-lg-offset-1 col-lg-4 text-right login-label">
            Логин 
        </label>
        <input type="text" class="form-control col-lg-4 login-box" name="Login" required>
    </div>

    <div class="form-group row  margin-top-20">
        <label for="Password" class="control-label col-lg-offset-1 col-lg-4 text-right login-label">
            Пароль
        </label>
        <input type="password" class="form-control col-lg-4 login-box" name="Password" />
    </div>

    <div class="fom-group row margin-top-20">
        <label for="DisplayName" class="control-label col-lg-offset-1 col-lg-4 text-right login-label">
            Отображаемое имя 
        </label>
        <input type="text" class="form-control col-lg-4 login-box" name="DisplayName" required>
    </div>

    <div class="fom-group row margin-top-20">
        <label for="Avatar" class="control-label col-lg-offset-1 col-lg-4 text-right login-label">
            Аватар
        </label>
        <input type="file" class="form-control col-lg-4 login-box" name="Avatar" required>
    </div>

    @if (ViewBag.Error != null)
    {
        <div class="error">
            @ViewBag.Error
        </div>
    }

    <div class="form-group row margin-top-20">
        <div class="col-lg-offset-5 col-lg-2">
            <input type="submit" class="btn btn-success margin-top-5" value="Создать" />
        </div>
        <div class="col-lg-offset-2 col-lg-3">
            <a href="/Account/Login" class="btn btn-default reg-btn">
                Войти в систему
            </a>
        </div>
    </div>

</form>

<div class="clearfix"></div>

