﻿@model IEnumerable<BllPart.DTO.GameInfoDTO>

@{
    ViewBag.Title = "Index";
    ViewBag.CssLink = "/Content/Game/InfoList.css";
}

<h2 class="list-header"> Доступные <i> игры </i> на  <i> сайте </i> </h2>

@foreach (var game in Model)
{
    <div class="row info-container">
        <img src="@game.Avatar" class="col-lg-offset-1 col-lg-3 img-circle" width="180" height="150" />
        <div class="col-lg-7">
            <div class="row text-center info-header">
                @game.Name
            </div>

            <div class="row text-center text-italic">
                @game.Description
            </div>

            <div class="row game-link-container">
                <a href="/Game/SearchOpponent/@game.Id" class="col-lg-offset-10 game-link">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                    Играть
                </a>
            </div>
        </div>
    </div>
}
