﻿@using BllPart.DTO;
@model BllPart.DTO.GameInfoDTO

@{
    ViewBag.Title = "SearchOpponent";
    UserDTO user = (UserDTO)Session["User"];
    ViewBag.CssLink = "/Content/Game/SearchTable.css";
}

<h2 class="text-center"> Поиск оппонента </h2>

<div class="row margin-top-20">
    
    <a href="#" class="col-lg-3 left-link" id="realGame">
        Играть с реальным оппонентом
    </a>
    <div class="col-lg-6 mode-select-inscription">
        <span class="glyphicon glyphicon-arrow-left margin-right-15"></span>
        Выберите режим игры
        <span class="glyphicon glyphicon-arrow-right margin-left-15"></span>
    </div>
    <a href="#" class="col-lg-3 right-link" id="computerGame">
        Играть с компьютером
    </a>

</div>

<hr />

<div class="row display-none" id="waitAnimation">

    <div class="col-lg-offset-3 col-lg-6">
        <div class="row text-center">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
        <div class="row text-center">
            Ожидаем оппонента
        </div>

        <hr />
    </div>

</div>

<div class="row display-none" id="showOpponent">

    <div class="row col-lg-offset-3 col-lg-6 text-center text-bold">
        Ваш оппонент <span id="opponentName"></span>
    </div>

    <div class="row col-lg-offset-3 col-lg-6 text-center"> 
        <img src="~/Files/Games/sea-battle.jpg" class="img-circle" width="180" height="150" 
             id="Opponent-Img"/>
    </div> 

    <div class="row col-lg-offset-3 col-lg-6 text-center user-container">
        Отображение времени
    </div> 

    <hr />

</div>

<script>
    window.UserId = @user.UserId;
    window.GameInfoId = @Model.Id;
</script>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script> 
    <script src="~/Scripts/Game/searchOpponent.js"></script>
}