﻿@model WebPart.Models.Game.StartGameViewModel

@{
    ViewBag.Title = "StartGame";
    ViewBag.CssLink = "/Content/Game/StartGameTable.css";
}

@section styles {

    @foreach (var link in Model.CssLinks)
    {
        <link href="@link" rel="stylesheet" type="text/css" />
    }

}

<h2 class="text-center"> Вы играете в @Model.GameName </h2>

<div class="opponent-subscribe">

    Поединок против @Model.OpponentName

</div>

<hr />

<div id="gameContent">
</div>

@section scripts {

    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
        window.UserData = {
            UserId : @Model.UserId,
            GameId: @Model.GameId,
            Path : "/ClientGames/@Model.ServerGameName/"
        };
    </script>

    <script src="~/Scripts/PlayGame/htmlLoader.js"></script>
    <script src="~/Scripts/PlayGame/startScript.js"></script>
    <script src="~/Scripts/PlayGame/UserLoader.js"></script>
    <script src="~/Scripts/PlayGame/LogicController.js"></script>
    <script src="~/Scripts/PlayGame/ServerCommunicator.js"></script>


    @foreach (var link in Model.JsLinks)
    {
        <script src="@link"></script>
    }
}



