﻿<div class="row">
    <div class="col-lg-6">
        <h3 class="text-center"> Ваше поле </h3>
        <canvas id="userCanvas" >

        </canvas>
    </div>
    <div class="col-lg-6 ">
        <h3 class="text-center"> Поле оппонента </h3>
        <canvas id="opponentCanvas">
            
        </canvas>
    </div>
</div>

<div class="row" id="helpView">
    <div class="col-lg-offset-3 col-lg-3">

        <h4>
            Справка от програмы
        </h4>

        <div id="programView">

        </div>

    </div>

    <div class="col-lg-3">

        <h4>
            Справка о правилах
        </h4>

        <div id="ruleView">

        </div>
    </div>

</div>

<div class="row text-center margin-top-20">
    <a href="#" class="btn btn-success disabled" id="startBtn">
        Начать
    </a>
    <a href="/" class="btn btn-primary display-none" id="returnBtn">
        Вернутся к играм
    </a>
</div>