﻿canvas {
    width: 330px;
    min-width: 55%;

    min-height: 200px;

    border: 2px groove #e1e1e1;

    margin-left: 20%;
    margin-top: 15px;
}

    .col-lg-6 + .col-lg-6 {
        border-left: 1px solid #e1e1e1;
    }

div.col-lg-6 {
    padding-bottom: 60px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

h4 {
    border-bottom: 1px solid red;
    font-style: italic;
    text-align: center;
    font-size: larger;
    padding-bottom: 5px;
}

.margin-top-20 {
    margin-top: 20px;
}

.display-none {
    display: none;
}
