﻿form {
    background-color: #e4e4e4;
    padding:20px;
    border: 10px solid #efefef;
    border-radius: 10px;
}

.login-label {
    background-color: white;
    margin-right: 0;
    min-height: 40px;
    border: 5px solid #efefef;
    border-right: none;
    padding: 5px;
}

.login-box {
    border: none;
    border-radius: 0;
    min-height: 40px;
    padding: 5px;
    border: 5px solid #efefef;
    border-left: none;
}
    .login-box:focus {
        border:none;
        outline: none !important;
    }
    .login-box:active {
        border:none;
        outline:none;
    }
    /*for chrome*/
    *:focus {
        outline: none;
    }

.margin-top-20 {
    margin-top: 20px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.error {
    background-color: white;
    margin-top: 20px;
    
    margin-left: 30%;
    margin-right: 30%;

    color: #cc2d2d;
    text-align: center;

    padding: 5px;
    margin-bottom: 20px;

    border-radius: 20px;
}

.reg-btn {
    border: 5px solid #efefef;
    border-right: none;
}

.margin-top-5 {
    margin-top: 5px;
}