﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

html, body {
    height: 100%;
}

.wrap-content {
    min-height: 100%;
}

.main {
    overflow:auto;
	padding-bottom: 60px;
}  /* must be same height as the footer */

.footer {
    position: relative;
	margin-top: -60px; /* negative value of footer height */
	height: 60px;
	clear:both;
    font-style: italic;
} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}