﻿.text-italic {
    font-style: italic;
}

.info-header {
    border-bottom: 1px solid #69c0ff;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.game-link {
    margin-top: 10px;
    border: 1px solid #69c0ff;
    border-right: none;
    text-align: right;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px;
}

.game-link-container {
    margin-top: 10px;
    text-align: right;
}

.list-header {
    padding-left: 20%;
    margin-bottom: 30px;
    border-left: 5px solid #f3f3f3;
    border-right: 5px solid #f1f1f1;
    border-radius: 40px;
    /*border-top: 1px solid #f3f3f3;*/
    border-bottom: 1px solid #f3f3f3;
    padding-top: 5px;
    padding-bottom: 5px;
}

.info-container {
    border-left: 4px solid black;
    border-bottom: 1px solid #f3f3f3;
    border-bottom-right-radius: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-top: 1px solid #f3f3f3;
    border-top-right-radius: 40px;
    border-right: 1px solid #f1f1f1;
}