﻿.margin-top-20 {
    margin-top: 20px;
}

.left-link {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    border-top: 2px solid #c6c6c6;
    border-right: 2px solid #a8a8a8;
    border-bottom: 2px solid #908e8e;

    padding: 10px;

    text-align: center;
}

.right-link {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    border-top: 2px solid #c6c6c6;
    border-left: 2px solid #a8a8a8;
    border-bottom: 2px solid #908e8e;

    padding: 10px;

    text-align: center;
}

.mode-select-inscription {
    font-style: italic;
    font-size: larger;
    text-align: center;
    padding: 10px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-right-15 {
    margin-right: 15px;
}

.user-container {
    border-bottom: 1px solid #a8a8a8;
    padding-bottom: 10px;
    font-style: italic;
    padding-top: 5px;
}

.text-bold {
    font-weight: bold;
}

/* Waiting animation  starts */

.spinner {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* Waiting animation  ends */

.display-none {
    display: none;
}